.add-edit-page form {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    justify-content: space-between;

}


.add-edit-page form  textarea {
    margin-top: 8px;
    outline: none;
    font-size: 16px;
    

}


.add-edit-page form textarea::placeholder {
    font-size: 16px;
}

.filters-block{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    
}

.filters-block div {
    margin-right: 5px;
}

.filters-block > div:nth-child(2) {
    width: 150px;
}